.header {
    height: 450px;
    width: 100%;
    background: #BB92A4;
    position: absolute;
}

.header__texture {
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    background: url('../img/fumee2.jpg') center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.7;
    -webkit-border-radius: 0px 0px 350px 350px / 0 0 50px 50px;
    -moz-border-radius:    0px 0px 350px 350px / 0 0 50px 50px;
    border-radius:         0px 0px 350px 350px / 0 0 50px 50px;
}


.header__navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__navbar__logo_title {
    color: blanchedalmond;
    font-size: 30px;    

}

.header__navbar__menu_link {
    margin-left: 40px;
    text-decoration: none;
    color: blanchedalmond;
}